<!DOCTYPE html>
<html lang="es" ng-app="gea">
  <head>
    <meta charset="utf-8">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" media="screen,projection" href="./assets/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="./app/style.css" media="screen,projection" charset="utf-8">
    <link rel="stylesheet" href="./assets/animate.css/animate.min.css" media="screen" charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicons/favicon-96x96.png">
    <link rel="manifest" href="./favicons/manifest.json">
    <meta name="msapplication-TileImage" content="./favicons//ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#4caf50">
    <meta name="theme-color" content="#4caf50">
  </head>

  <body class="blue-grey lighten-4" ng-controller="appController as app">
    <header>
      <nav>
        <div class="nav-wrapper green">
          <a href="#/" class="brand-logo left"><img src="./favicons/gea.svg" alt="Gea Logo" class="responsive-img" style="height:64px;" /></a>
          <ul class="right" ng-if="session.valid()">
            <li class="whit-badge"><a ng-click="shoppingCart.open()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mi Carrito"><span ng-if="shoppingCart.tmp.length>0" class="rounded badge to-right amber white-text">{{shoppingCart.tmp.length}}</span><i class="material-icons">shopping_cart</i><span ng-if="shoppingCart.form.productos.length>0" class="rounded badge to-left red white-text">{{shoppingCart.form.productos.length}}</span></a></li>
            <li><a href="#/panel" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Panel"><i class="material-icons">apps</i></a></li>

            <li><a href="" ng-click="session.close()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salir"><i class="material-icons">close</i></a></li>
          </ul>
          <ul class="right" ng-if="!session.valid()">
            <li><a href="#/sign/in" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sign In"><i class="material-icons">open_in_browser</i></a></li>
            <li><a href="#/sign/up" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sign Up"><i class="material-icons">person_add</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container">
      <ng-view  onload=""  $autoscroll="true"></ng-view>
    </section>
    <article id="ShoppingCart" class="modal modal-fixed-footer" style="overflow:hidden;">
      <div class="modal-content row">
        <span class="right red-text" ng-click="shoppingCart.close()"><i class="material-icons">close</i></span>
        <h4>Tu Carrito de Compras</h4>
        <div class="col s12">
          <ul class="tabs">
            <li ng-if="shoppingCart.tmp.length>0" class="tab col s3"><a href="#shoppingForm">Por Confirmar</a></li>
            <li ng-if="shoppingCart.form.productos.length>0" class="tab col s3"><a href="#verCarrito">Añadidos</a></li>
          </ul>
        </div>
        <div ng-if="shoppingCart.form.productos.length>0" style="overflow:auto;" id="verCarrito" class="col s12">
          <h3>Total: {{shoppingCart.form.total | currency}}</h3>
          <ul class="collection">
            <li ng-repeat="producto in shoppingCart.form.productos" class="collection-item avatar">
              <img ng-src="{{producto._data.imagen}}" alt="{{producto._data.nombre}}" class="responsive-img circle">
              <span class="title">{{producto._data.nombre}}</span>
              <p><span ng-repeat="presentacion in producto._data.presentacion">
                <i ng-if="presentacion._id === producto.presentacion">( {{presentacion.unidad}} ) {{presentacion.precio | currency}} X {{producto.cantidad}}</i>
              </span> <br>
                <b>Subtotal: {{producto.subtotal | currency}}</b>
                <!-- <span class="hide">{{shoppingCart.form.total = shoppingCart.form.total + producto.subtotal}}</span> -->
              </p>
              <a ng-click="shoppingCart.product.remove($index)" class="secondary-content"><i class="material-icons red-text">remove_shopping_cart</i></a>
            </li>
          </ul>
        </div>
        <div ng-if="shoppingCart.tmp.length>0" style="overflow:auto;" id="shoppingForm" class="col s12">
          <div ng-repeat="producto in shoppingCart.tmp">
            <div class="col s4">
              <span>{{producto.nombre}}</span>
              <img ng-src="{{producto.imagen}}" alt="{{producto.nombre}}" class="circle responsive-img"/>
            </div>
            <div class="input-field col s4">
              <label for="presentacion_{{$index}}" class="active">Presentación:</label>
              <select class="browser-default" ng-model="producto.selected" name="presentacion_{{$index}}" id="presentacion_{{$index}}" required>
                <option ng-repeat="presentacion in producto.presentacion"  value="{{$index}}">{{presentacion.unidad}} / {{presentacion.precio | currency}}</option>
              </select>
            </div>
            <div class="input-field col s4">
              <input type="number" ng-model="producto.cantidad" name="cantidad" id="cantidad" min="0.01" step="0.01">
              <label for="cantidad" class="active">Cantidad:</label>
            </div>
            <div class="col s8 divider"></div>
            <div class="col s4">
              <span><b>Subtotal:</b> {{producto.subtotal=producto.presentacion[producto.selected].precio*producto.cantidad | currency}}</span>
            </div>
            <a ng-click="shoppingCart.product.cancel($index)" class="col s2 waves-effect waves-red btn-flat"><i class="material-icons red-text">remove_shopping_cart</i></a>
            <a ng-if="producto.subtotal>0" ng-click="shoppingCart.product.confirm(producto,$index)" class="col s2 waves-effect waves-teal btn-flat"><i class="material-icons teal-text">add</i></a>
            <div class="divider col s12"></div>
          </div>
        </div>
      </div>
      <footer ng-if="shoppingCart.form.productos.length>0" class="modal-footer">
        <div class="col offset-s1 s10">
          <button ng-click="shoppingCart.submit()" class="modal-action modal-close animated zoomIn btn-floating waves-effect waves-light right">
            <i class="material-icons">send</i>
          </button>
        </div>
      </footer>
    </article>
    <footer>
      <small class="grey-text text-darken-3 center">Skypunch-Gea Copyright (c) 2016 Copyright Holder All Rights Reserved.</small>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="./assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/Materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="./assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="./assets/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./assets/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./assets/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="./assets/angular-i18n/angular-locale_es-mx.js"></script>
    <script type="text/javascript" src="./assets/angular-validation-match/dist/angular-validation-match.min.js"></script>
    <script type="text/javascript" src="./assets/cryptojslib/components/core-min.js"></script>
    <script type="text/javascript" src="./assets/cryptojslib/components/enc-base64-min.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
  </body>
</html>
