.input-field .ng-valid.ng-dirty{
 border-bottom: 1px solid #00e676;
 box-shadow: 0 1px 0 0 #00e676;
}
.input-field .ng-invalid.ng-dirty{
 border-bottom: 1px solid #d50000;
 box-shadow: 0 1px 0 0 #d50000;
}
.inline{
  display: inline !important;
}
.elevated{
  z-index:900 !important;
}

li.whit-badge,li.whit-badge a{
  height:64px !important;
  position:relative;
}
li.whit-badge a i.material-icons{
  position: relative;
  display:inline;
  padding: 0;
  margin: 0;
  max-height: 100%;
  z-index:1 !important;
}
span.rounded.badge{
  border-radius:50%;
}
span.badge.to-right{
  margin-right:-8px;
  z-index:980 !important;
}
span.badge.to-left{
  margin-left:-8px;
  z-index:980 !important;
}
/*.input-field .ng-pristine{
 border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 #2196f3;
}*/
