<h2 class="center">Productos</h2>
<div class="row">
  <header class="input-field col s10 offset-s1 card">
    <br>
    <i class="material-icons prefix">search</i>
    <input id="search_box" type="text" ng-model="searchBox.nombre" placeholder="Busqueda:">
  </header>
  <article class="col s12 m6 l4" ng-repeat="product in list | filter:searchBox" style="min-height:600px;">
    <div class="card hoverable">
      <header class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{product.imagen}}">
      </header>
      <section class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{product.nombre}}<i class="material-icons right">more_vert</i></span>
        <p><ul>
          <li ng-repeat="presentacion in product.presentacion | orderBy:'precio'">{{presentacion.precio | currency}} / {{presentacion.unidad}}</li>
        </ul></p>
      </section>
      <footer class="card-action">
        <a ng-if="user.id!=product.usuario" ng-click="shoppingCart.product.add(product)"><i class="material-icons">add_shopping_cart</i> Añadir al Carrito</a>
        <a ng-if="user.id===product.usuario"><i class="material-icons">start</i> Mi producto</a>
      </footer>
      <section class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{product.nombre}}<i class="material-icons right">close</i></span>
        <p>
          {{product.descripcion}}
        </p>
      </section>
    </div>
  </article>
  <a ng-if="session.valid()" href="#/producto/nuevo" class="elevated btn-floating btn-large waves-effect waves-light red" style="position:fixed;bottom:18px;right:18px;"><i class="material-icons">add</i></a>
</div>
