<form action="" class="card row">
  <br>
  <h3 class="center">Información</h3>
  <div class="input-field offset-s1 col s10">
    <label for="Nombre">Nombre: </label>
    <input type="text" name="" id="Nombre">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="apellido_paterno">Apellido paterno: </label>
    <input type="text" name="" id="apellido_paterno">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="apellido_materno">Apellido materno: </label>
    <input type="text" name="" id="apellido_materno">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="nacimiento" class="active">Fecha de nacimiento: </label>
    <input type="date" name="" id="nacimiento">
  </div>
  <div class="offset-s1 col s10">
    <label for="">Sexo:</label>
    <br>
    <input type="radio" name="sexo" id="sexo_masculino" class="with-gap">
    <label for="sexo_masculino">Masculino: </label>
    <input type="radio" name="sexo" id="sexo_femenino" class="with-gap">
    <label for="sexo_femenino">Femenino: </label>
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="telefono_0">Telefono: </label>
    <input type="text" name="" id="telefono_0">
  </div>
  <button type="button" id="add_phone" class="waves-effect waves-teal btn-flat  offset-s1 col s10">Añadir otro telefono +</button>
  <div class="col offset-s1 s10">
    <button class="btn-floating btn-large waves-effect waves-light right" style="bottom:-28px;" type="submit"><i class="material-icons">send</i></button>
    <button class="btn-floating btn-large waves-effect waves-light red right" style="bottom:-28px;" type="reset"><i class="material-icons">restore</i></button>
  </div>
</form>
