<article class="">
  <h4>Mis Compras ({{transacciones.length}})</h4>
  <table class="responsive-table striped centered white">
     <thead>
       <tr>
           <th data-field="id">ID</th>
           <th data-field="total">$ Total</th>
           <th data-field="productos"># Productos</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="transaccion in transacciones">
         <td>{{transaccion._id}}</td>
         <td>{{transaccion.total | currency}}</td>
         <td>{{transaccion.productos.length}}</td>
       </tr>
     </tbody>
   </table>
</article>
<article class="">
  <h4>Mis productos ({{productos.length}})</h4>
  <table class="responsive-table striped centered white">
     <thead>
       <tr>
           <th data-field="id">ID</th>
           <th data-field="nombre">Nombre</th>
           <th data-field="presentaciones"># Presentaciones</th>
           <th data-field="ventas"># Ventas</th>
           <th data-field="ver_ventas">Ver</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="producto in productos">
         <td>{{producto._id}}</td>
         <td>{{producto.nombre}}</td>
         <td>{{producto.presentacion.length}}</td>
         <td>{{producto._data.length}}</td>
         <td ng-click="contactoVentas($index)"><i class="material-icons">import_contacts</i></td>
       </tr>
     </tbody>
   </table>
</article>
<br>
<div id="piechart" class="center" style="width:100%;height: 500px;"></div>
<!-- //crear Modal para ver detalle de la venta -->
