<form action="" name="productForm" class="card row" ng-submit="product.submit()" novalidate>
  <br>
  <h3 class="center">Producto</h3>
  <div class="input-field offset-s1 col s10">
    <label for="Nombre"><span class="red-text">* </span>Nombre: </label>
    <input ng-model="product.form.nombre" type="text" name="nombre" id="Nombre" required>
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="Descripcion">Descripción: </label>
    <input ng-model="product.form.descripcion" type="text" name="descripcion" id="Descripcion">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="Imagen">Imagen: </label>
    <input ng-model="product.form.imagen" type="text" name="imagen" id="Imagen">
  </div>
  <div ng-repeat="presentacion in product.form.presentacion">
    <div class="input-field offset-s1 col s5">
      <label for="Unidad"><span class="red-text">* </span>Unidad: </label>
      <input ng-model="presentacion.unidad" required type="text" name="unidad_{{$index}}" id="Unidad">
    </div>
    <div class="input-field col s5">
      <label for="Precio"><span class="red-text">* </span>Precio: </label>
      <input ng-model="presentacion.precio" required type="text" name="precio_{{$index}}" id="Precio">
    </div>
  </div>
  <button type="button" id="add_pres" ng-click="product.addSubElement()" class="waves-effect waves-teal btn-flat offset-s1 col s10">Añadir otra presentación +</button>
  <div class="divider col s12"></div>
  <small class="input-field offset-s1 col s10 grey-text text-darken-1">* Campos obligatorios</small>

  <div class="col offset-s1 s10" style="min-height:55px;">
    <div ng-if="productForm.$dirty">
      <button ng-if="productForm.$valid" class="animated zoomIn btn-floating btn-large waves-effect waves-light right" type="submit" style="bottom:-28px;">
        <i class="material-icons">send</i>
      </button>
      <button ng-if="productForm.$invalid" ng-click="product.reset(productForm)" class="animated zoomIn btn-floating btn-large waves-effect waves-light red right" type="reset" style="bottom:-28px;">
        <i class="material-icons">restore</i>
      </button>
    </div>
  </div>
</form>
