<br>
<form name="signForm" id="signForm" ng-submit="sign.submit()" class="card row" novalidate>
  <br>
  <h3 class="center">Sign {{title}}</h3>
  <div class="input-field offset-s1 col s10">
    <label for="email"><span class="red-text">* </span>Email: </label>
    <input type="email" ng-model="sign.form.email" name="email" required>
  </div>
  <div class="input-field offset-s1 col s10" ng-if="new">
    <label for="confirm_email"><span class="red-text">* </span>Confirmar Email: </label>
    <input type="email" data-match="sign.form.email" data-match-ignore-empty="true" ng-model="sign.form.confirm.email" name="confirm_email" required>
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="password"><span class="red-text">* </span>Password: </label>
    <input type="password" ng-model="sign.form.password" name="password" required>
  </div>
  <div class="input-field offset-s1 col s10" ng-if="new">
    <label for="confirm_password"><span class="red-text">*</span>Confirmar Password: </label>
    <input type="password" data-match="sign.form.password" data-match-ignore-empty="true" ng-model="sign.form.confirm.password" name="confirm_password" required>
  </div>
  <small class="input-field offset-s1 col s10 grey-text text-darken-1">* Campos obligatorios</small>
  <div class="col offset-s1 s10" style="min-height:55px;">
    <!-- {{signForm.confirm_email.$error}}{{signForm.email.$error}} -->
    <div ng-if="signForm.$dirty">
      <button ng-if="signForm.$valid" class="animated zoomIn btn-floating btn-large waves-effect waves-light right" type="submit" style="bottom:-28px;">
        <i class="material-icons">send</i>
      </button>

      <button ng-if="signForm.$invalid" ng-click="sign.reset(signForm)" class="animated zoomIn btn-floating btn-large waves-effect waves-light red right" type="reset" style="bottom:-28px;">
        <i class="material-icons">restore</i>
      </button>
    </div>

  </div>
</form>
