<form action="" class="card row">
  <br>
  <h3 class="center">Ubicación</h3>
  <div class="input-field offset-s1 col s10">
    <label for="Estado">Estado: </label>
    <input type="text" name="" id="Estado">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="Municipio">Municipio: </label>
    <input type="text" name="" id="Municipio">
  </div>
  <div class="input-field offset-s1 col s8">
    <label for="Localidad">Localidad: </label>
    <input type="text" name="" id="Localidad">
  </div>
  <div class="input-field col s2">
    <label for="CP">CP: </label>
    <input type="text" name="" id="CP">
  </div>
  <div class="input-field offset-s1 col s10">
    <label for="Calle">Calle</label>
    <input type="text" name="" id="Calle">
  </div>
  <div class="input-field offset-s1 col s5">
    <label for="No_interior">No Interior: </label>
    <input type="text" name="" id="No_interior">
  </div>
  <div class="input-field col s5">
    <label for="No_exterior">No Exterior: </label>
    <input type="text" name="" id="No_exterior">
  </div>
  <div class="col offset-s1 s10">
    <button class="btn-floating btn-large waves-effect waves-light right" style="bottom:-28px;" type="submit"><i class="material-icons">send</i></button>
    <button class="btn-floating btn-large waves-effect waves-light red right" style="bottom:-28px;" type="reset"><i class="material-icons">restore</i></button>
  </div>
</form>
